---
import type { ComicBubbleProps } from '../../../types/containers';

const { type = 'speech', direction = 'left', className = '' } = Astro.props as ComicBubbleProps;
---

<div class:list={[
  'relative bg-white p-6 rounded-3xl border-4 border-black font-comic',
  type === 'thought' && 'rounded-[50%]',
  type === 'shout' && 'bg-yellow-200 transform rotate-[-2deg]',
  direction === 'right' ? 'ml-6' : 'mr-6',
  className
]}>
  <div class:list={[
    'absolute bottom-4 border-[20px] border-transparent',
    direction === 'right' ? 'left-[-20px] border-r-white' : 'right-[-20px] border-l-white'
  ]}></div>
  <slot/>
</div>