---
interface Props {
  type?: 'thought' | 'speech' | 'shout';
  direction?: 'left' | 'right';
}

const { type = 'speech', direction = 'left' } = Astro.props;
---

<div class={`
  relative bg-white p-6 rounded-3xl border-4 border-black font-comic
  ${type === 'thought' ? 'rounded-[50%]' : ''}
  ${type === 'shout' ? 'bg-yellow-200 transform rotate-[-2deg]' : ''}
  ${direction === 'right' ? 'ml-6' : 'mr-6'}
`}>
  <div class={`
    absolute ${direction === 'right' ? 'left-[-20px]' : 'right-[-20px]'}
    bottom-4 border-[20px] border-transparent
    ${direction === 'right' ? 'border-r-white' : 'border-l-white'}
  `}></div>
  <slot/>
</div>