<header class="flex justify-between items-center py-5 w-full lg:w-1/2 mx-auto">
    <img class="rounded-full size-20 md:size-10" src="/LogoTincoNomad.png" alt="my logo"/>

    <nav class="flex space-x-8 opacity-80">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About me</a>
        <a href="#contact">Contact</a>
    </nav>
</header>