---
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import ComicBubble from "../components/ComicBubble.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 gap-4 p-4 text-black">
  
  <!-- Avatar Box -->
  <div class="md:col-span-1 md:row-span-2 bg-white rounded-xl border-4 border-black p-4">
    <img 
      class="w-full h-auto rounded-lg" 
      src="/avatar500x500.png" 
      alt="my photo" 
    />
  </div>

  <!-- Greeting Box -->
  <div class="md:col-span-2 md:row-span-1 bg-white rounded-xl border-4 border-black p-4">
    <!-- <ComicBubble type="shout"> -->
      <h1 class="text-4xl font-bold">Hi, I'm Renzo Tincopa!</h1>
    <!-- </ComicBubble> -->
    <!-- <ComicBubble type="thought" direction="right"> -->
      <h2 class="text-2xl">Smart Contract Developer</h2>
    <!-- </ComicBubble> -->
    <div class="flex justify-end items-center mt-2">
      <span class="text-xl">@tinconomad</span>
      <a
        class="ml-2"
        href="https://www.linkedin.com/in/tinconomad/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Badge>Ready for work</Badge>
      </a>
    </div>
  </div>

  <!-- Role Box -->
  <div class="md:col-span-2 md:row-span-1 bg-white rounded-xl border-4 border-black p-4">
    
  </div>

  <!-- Description Box -->
  <div class="md:col-span-3 md:row-span-1 bg-white rounded-xl border-4 border-black p-4">
    <p class="text-lg">
      Smart Contract Developer specializing in Solidity, Stacks and integrations
      with Rust, Python and Node.js. Proficient in product development. Innovating
      and facilitating the development of new products. Adept at assisting
      existing products in their seamless transition to the Web 3.0 era, ensuring
      they remain competitive and future-ready in the rapidly evolving blockchain
    </p>
  </div>

  <!-- Social Links -->
  <nav class="space-y-4 lg:flex lg:space-x-4 text-2xl md:text-sm">
    <SocialPill href="https://www.linkedin.com/in/tinconomad/">
      <LinkedInIcon class="size-6" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/TincoNomad">
      <GithubIcon class="size-6" />
      Github
    </SocialPill>
    <SocialPill href="mailto:renzotincopa@icloud.com">
      <MailIcon class="size-6" />
      renzotincopa@icloud.com
    </SocialPill>
  </nav>

</div>