---
const { id } = Astro.props;
---

<section 
  class="mx-auto md:w-2/3 py-20 lg:w-1/2 min-h-screen 
  bg-white/80 backdrop-blur-sm border-4 border-black 
  transform rotate-[0.5deg] my-8 rounded-lg
  shadow-[8px_8px_0px_0px_rgba(0,0,0,0.8)]" 
  id={id}
>
  <div class="transform -rotate-[0.5deg]">
    <slot/>
  </div>
</section>