---
interface Props {
  title: string;
  description: string;
}
import Header from "../components/navigation/Header.astro";
import Footer from "../components/footer/Footer.astro";

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body>
    <div class="px-10">
      <Header />
    </div>
    <main>
      <slot />
    </main>
    <div class="px-10">
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  /* Estilos globales para títulos */
  h1, h2, h3, h4, h5, h6 {
    @apply font-impact;
  }

  /* Estilos globales para botones */
  button, .btn {
    @apply font-webcomic;
  }

  /* Estilos globales para texto general */
  p, span, div {
    @apply font-quicksand;
  }

  html {
    /* font-family: system-ui, sans-serif; */
    scroll-behavior: smooth;
  }

  body {
    background-image: url("portfoliobg.webp");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  #header-nav {
    animation: blur linear both 0.5s;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }
</style>
